* text=auto

*.command text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

*.ps1 text eol=crlf
*.cmd text eol=crlf

*.pdf binary
*.pkl binary
*.bin binary
*.pt binary
*.jpg binary
*.png binary
